<% include partials/header %>

<div class="container">
   <div class="jumbotron">
       <h1>Welcome to YelpCamp!</h1>
       <br>
       <a href="/campgrounds" class="btn btn-primary btn-large">View all Campgrounds</a>
    </div>
</div>

<% include partials/footer %>